


section {
  margin-top: 50px;
  margin-bottom: 50px;
}

section.contact-us #contact {
  display: block;
  width: 80%;
  height: auto;
  background-color: #fff;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

footer{
    position: relative;
}

.section-heading h4 {
  line-height: 40px;
  font-size: 3rem;
  font-weight: 900;
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.inputField input, .inputField textarea {
  width: 100%;
  display: block;
  background-color: #f4f7fb;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  outline-color: #9e9e9e;
}

.inputField input {
  height: 40px;
  padding: 0px 15px;
}

textarea {
  min-height: 140px;
  max-height: 180px;
  padding: 15px;
  resize: none;
}

.contact-us span {
  height: 20px;
	font-size: 12px;
  margin-bottom: 20px;
}

.valid_info_name, .valid_info_email, .valid_info_message{
  display: inline-block;
  font-size: 13px;
  margin: 5px 2px;
}


.btn {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
}

#form-submit {
  position: relative;
  display: inline-block;
  
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  background-color: #008CBA;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .3s;
  transition: all .3s;
}

  @media (max-width: 650px) {

.section-heading h4 {
  line-height: 10vw;
  font-size: 7vw;
  font-weight: 900;
  margin-bottom: 6vh;
}
.inputField input, .inputField textarea {
 
  font-size: 5vw;
  border-radius: 5px;
 
}
.inputField input {
  height: 40px;
  padding-left: 0%;
  padding-right: 0%;
}
textarea {
  min-height: 140px;
  max-height: 180px;
  padding-left: 0%;
  padding-right: 0%; 
}
.contact-us span {
  height: 20px;
	font-size: 12px;
  margin-bottom: 20px;
}



#form-submit {
  
  font-size: 4vw;
  letter-spacing: 1px;
  padding: 12px 20px;
  border-radius: 5px;
}
  }







