* {
    margin: 0;
    padding: 0;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: oxfam_tstar_proheadline, RobotoCondensed-Bold-webfont, Arial,
      sans-serif;
     
  }
  
  li {
    list-style: none;
    padding: 1px 1px;
    
  }
  li a {
    width: 15vw;
    background-color: #333;
    /* float to place element to the left of container */
    float: left;
    color: #f2f2f2;
    /* left and right padding */
    padding: 14px 16px;
    /* remove a tag default styling */
    text-decoration: none;
    font-size: 17px;
  }
  
  .above-nav {
    display: flex;
    align-items: center;
    padding-left: 4vw;
  }
  

h1{
    color:#008CBA;
    text-align: center;}

 h2{
    color:#008CBA;    
}

h3{
    color: #008CBA;
    font-size: 1.6rem;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
/* here is how I styled it to be centered */
  .h3{
    display: flex;
    justify-content: center;
  }
  
  img {
    width: 15vw;
    height: 15vh;
    display: flex;
    flex-flow: row-reverse;
  }

  .text {
    font-size: 15px;
    padding-left: 20px;
  }

  .p1{
    display: flex;
    padding-right: 40%;
    
   }

  
  .pov{
    /* display: block;
    margin-left: 80%;
    width: 30vw;
    height: 20vh; */
    position: absolute;
    right: 8%;
   
    z-index: -1;
    width: 25vw;
    height: 15vh;
    
    }

  
  
  
  
  
  footer {
    color: white;
    background-color: black;
    height: 12vh;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  
  
  footer * {
    padding-bottom: 4vw;
   
  }
  
  
  footer *{
    padding-bottom: 10px;
  }
  
  footer form, footer p {
    padding-left: 4vw;
  }
  
  footer h3 {
    padding-top: 2vh; 
  }
  
  footer input[type="submit"] {
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      background-color: #008CBA;
      padding: 15px 32px;  
  }
  
  .donate-submit{
      display: flex;
  }
  
  a {
    text-decoration: none;
  }











  

  












