* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: oxfam_tstar_proheadline, RobotoCondensed-Bold-webfont, Arial,
    sans-serif;
   
}

li {
  list-style: none;
  padding: 1px 1px;
  
}
li a {
  width: 15vw;
  background-color: black;
  /* float to place element to the left of container */
  float: left;
  color: #f2f2f2;
  /* left and right padding */
  padding: 14px 16px;
  /* remove a tag default styling */
  text-decoration: none;
  font-size: 17px;
}

.above-nav {
  display: flex;
  align-items: center;
  padding-left: 8vw;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.9rem;
  max-width: 68.75rem;
  margin: 2rem auto -6rem;

}

.intro-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;

}

.unite{
  color: #008CBA;
}

.bright{
  color: black;
}


.whitebttn{
  text-decoration: none;
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 0.6rem;
  border: none;
  font-size: 1.4rem;
  border-radius: 0.3rem;
  background-color: #008CBA;
  color: white;
  text-shadow: -1px 1px 0 #000;
}

iframe{
  max-width: 30rem;
  border-top: 2.5rem groove #333;
  border-bottom: 2.5rem groove #333;
  border-right: 1.75rem solid #333;
  border-left: 1.75rem solid #333;
}

img {
  object-fit: contain;
  height: 10vh;
  width: auto;
}

footer {
  color: white;
  background-color: black;
  height: 20vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}


footer * {
  padding-bottom: 4vw;
 
}


footer *{
  padding-bottom: 10px;
}

footer form, footer p {
  padding-left: 4vw;
}

footer h3 {
  padding-top: 2vh;
  
}

footer input[type="submit"] {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;
    padding: 15px 32px;  
   
}

footer input[type="text"] {
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;

  background-color: white;
  padding: 15px 32px;
  

}
.donate-submit{
    display: flex;
}

a {
  text-decoration: none;
}

/* Below is styling for contact page */
.button{
  text-align: center;
 
}

.contact input[type=text] {
  width: 100%;
  padding: 12px 10px;
  margin: 15px 0px 0 1px;
  box-sizing: border-box;
  border-style: solid black;
}

.SadPictures{
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding-left: 10rem;
  padding-top: 2rem;
  padding-bottom: .5px;
}

.SadPictures .KidShoes{
  height: 5.5rem;
  margin-bottom: 2rem;
  width: 3rem;
}

#OldBeggar{
  height: 5rem;
  margin-bottom: 2rem;
}

 .SadKids{
  height: 5.5rem;
  margin-bottom: 2rem;

}

#Homeless{
  height: 5.5rem;
  margin-bottom: 2rem;
}

h2{
  text-align: center;
  padding-top: 1rem;
}

.ContactUs .heading h2 span{
  color: #008CBA;
  
}
